{:paths ["src"]
 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"}
  cheshire/cheshire {:mvn/version "5.11.0"}}
 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
   :main-opts ["-m" "cognitect.test-runner"]
   :exec-fn cognitect.test-runner.api/test}
  :lint
  {:replace-deps {clj-kondo/clj-kondo {:mvn/version "2022.11.02"}}
   :main-opts ["-m" "clj-kondo.main" "--lint" "src"]}}}
